.main{
width: 100%;
height: 1500px;
background-image: url(i1.jpg);
background-repeat: no-repeat;
background-size: cover;
position: relative;
z-index: 1;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.main1{
    width: 1400px;
    height: 1300px;
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
    margin-left: 250px;;
    position: absolute;
    z-index: 2;
}
.m1{
    width: 1400px;
    height: 450px;
    display: flex;

}

.a{
    width: 300px;
    height: 450px;
    font-size: 28px;
    color: grey;
    margin-top: 150px;
    margin-left: 50px;
}
.a1{
    width: 350px;
    height: 450px;
    background-image: url(i4.jpg);
    background-repeat: no-repeat;
    margin-left: 80px;
}
.a2{
    width: 350px;
    height: 450px;
    font-size: 40px;
    color: grey;
    text-align: center;
    margin-top: 210px;
    margin-left: 50px;
}
.a3{
    width: 50px;
    height: 200px;
    margin-top: 50px;
}
.a4{
    width: 450px;
    height: 450px;
    background-color: rgb(55, 83, 143);


}
.t1{
    width: 50px;
    height: 50px;
    margin-left: 390px;
    color: rgb(130, 247, 255);
}
.t2{
    width: 450px;
    height: 20px;
    margin-left: 40px;
    color: rgb(255, 255, 255);
}
.t3{
    width: 450px;
    height: 50px;
    margin-left: 100px;
    margin-top: 40px;
    display: flex;
    color: aqua;
    gap: 100px;
}
.t4{
    width: 450px;
    height: 50px;
    margin-left: 100px;
    margin-top: 40px;
    display: flex;
    color: aqua;
    gap: 100px;
}
.t5{
    width: 450px;
    height: 50px;
    margin-left: 100px;
    margin-top: 40px;
    display: flex;
    color: aqua;
    gap: 100px;
}
.t6{
    width: 450px;
    height: 50px;
    margin-left: 100px;
    margin-top: 30px;
    display: flex;
    color: aqua;
    gap: 100px;
}
.m2{
    width: 1400px;
    height: 450px;
    display: flex;
    

}

.b{
    width: 300px;
    height: 450px;
    font-size: 28px;
    align-items: center;
    justify-content: center;
   text-align: center;
    background-color: rgb(72, 189, 189);
    color: grey;
}
.i1{
    width: 100px;
    height: 100px;
    margin-top: 150px;
    margin-left: 100px;
}
.d1{
    width: 150px;
    height: 100px;
    margin-top: 40px;
    margin-left: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.b1{
    width: 250px;
    height: 250px;
   color: grey;
   font-size: 30px;
    margin-left: 50px;
    margin-top: 100px;
}
.b2{
    width: 350px;
    height: 450px;
    font-size: 40px;
    color: grey;
    text-align: center;
    margin-left: 50px;
    background-image: url(i7.jpg);
}
.b3{
    width: 350px;
    height: 200px;
    margin-top: 250px;
    margin-left: 40px;
    color: grey;
    font-size: 50px;
    text-align: center;
}
.m3{
    width: 1400px;
    height: 450px;
    display: flex;

}
.c1{
    width: 1000px;
    height: 400px;
    position: relative;

}
.c2{
    width: 400px;
    height: 400px;
    background-color: aquamarine;
}
.i2{
    width: 100px;
    height: 100px;
    margin-top: 100px;
    margin-left: 150px;
}
.d2{
    width: 150px;
    height: 100px;
    margin-top: 40px;
    margin-left: 130px;
    font-size: 30px;
    text-align: center;
    color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.i3{
    width: 150px;
    height: 150px;
    background-color: white;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin-left: 450px;
    margin-top: 130px;
    border-radius: 50%;
    color: grey;
}
.q{
    margin-left: 50px;
    margin-top: 30px;
}